USE [master]
GO
/****** Object:  Database [DPUDTA]    Script Date: 6/14/2018 5:15:39 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'DPUDTA')
DROP DATABASE [DPUDTA]
GO
/****** Object:  Database [DPUDTA]    Script Date: 6/14/2018 5:15:39 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DPUDTA')
BEGIN
CREATE DATABASE [DPUDTA] ON  PRIMARY 
( NAME = N'DPUDTA', FILENAME = N'D:\bankith database\rento\DPUDTA.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [LOG] 
( NAME = N'DPUDTA_TBLOG', FILENAME = N'D:\bankith database\rento\DPUDTA_TBLOG.ndf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DPUDTA_log', FILENAME = N'D:\bankith database\rento\DPUDTA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DPUDTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DPUDTA]
GO
/****** Object:  Table [dbo].[DPU_LOG_PICKUP_PROCESS]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_LOG_PICKUP_PROCESS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_LOG_PICKUP_PROCESS](
	[PICKUP_PROCESS_ID] [int] NOT NULL,
	[BOOKING_REF_NO] [nvarchar](20) NULL,
	[USERNAME] [nvarchar](320) NULL,
	[CHECK_CITIZEN_ID_STATUS] [bit] NULL,
	[CHECK_LICENSE_NO_STATUS] [bit] NULL,
	[CHECK_CAR_FRONT_STATUS] [bit] NULL,
	[CHECK_CAR_REAR_STATUS] [bit] NULL,
	[CHECK_CAR_LEFT_STATUS] [bit] NULL,
	[CHECK_CAR_RIGHT_STATUS] [bit] NULL,
	[CHECK_TIRE_FRONT_LEFT_STATUS] [bit] NULL,
	[CHECK_TIRE_FRONT_RIGHT_STATUS] [bit] NULL,
	[CHECK_TIRE_REAR_LEFT_STATUS] [bit] NULL,
	[CHECK_TIRE_REAR_RIGHT_STATUS] [bit] NULL,
	[CHECK_MILEAGE_STATUS] [bit] NULL,
	[CHECK_BATTERY_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_DPU_LOG_PICKUP_PROCESS] PRIMARY KEY CLUSTERED 
(
	[PICKUP_PROCESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_CAR]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_CAR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_CAR](
	[CAR_ID] [int] NOT NULL,
	[LICENSE_NO] [nvarchar](10) NULL,
	[LICENSE_PROVINCE] [nvarchar](50) NULL,
	[SIPP_CODE] [nvarchar](10) NULL,
	[CAR_CATEGORIES_NAME] [nvarchar](30) NULL,
	[CAR_MAKE_ID] [int] NULL,
	[CAR_MODEL_ID] [int] NULL,
	[CAR_COLOR] [nvarchar](10) NULL,
	[REGISTER_YEAR] [nvarchar](4) NULL,
	[MANUFACTURE_YEAR] [nvarchar](4) NULL,
	[ENGINE_SIZE] [nvarchar](5) NULL,
	[TRANSMISSION] [nvarchar](20) NULL,
	[FUEL_TYPE] [nvarchar](30) NULL,
	[FUEL_LEVEL] [int] NULL,
	[MILEAGE] [nvarchar](10) NULL,
	[NO_OF_DOORS] [int] NULL,
	[NO_OF_SEAT] [int] NULL,
	[NO_OF_SMALL_BAG] [int] NULL,
	[NO_OF_LARGE_BAG] [int] NULL,
	[TIRE_DESCRIPTION] [nvarchar](500) NULL,
	[BATTERY_MAKE] [nvarchar](20) NULL,
	[BATTERY_MODEL] [nvarchar](20) NULL,
	[BATTERY_START_DATE] [date] NULL,
	[RENTAL_PRICE] [decimal](10, 2) NULL,
	[AIR_CONDITION] [bit] NULL,
	[CD_PLAYER] [bit] NULL,
	[RADIO] [bit] NULL,
	[AUX] [bit] NULL,
	[USB] [bit] NULL,
	[TAX_EXPIRY_DATE] [date] NULL,
	[CAR_STATUS] [int] NULL,
	[LOCATION_ID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_DPU_MST_CAR] PRIMARY KEY CLUSTERED 
(
	[CAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_CAR_COLOR]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_CAR_COLOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_CAR_COLOR](
	[CAR_COLOR_ID] [int] NOT NULL,
	[CAR_COLOR_NAME] [nvarchar](10) NULL,
	[ACTIVE_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_MST_CAR_COLOR] PRIMARY KEY CLUSTERED 
(
	[CAR_COLOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_CAR_IMAGE]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_CAR_IMAGE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_CAR_IMAGE](
	[CAR_IMAGE_ID] [int] NOT NULL,
	[CAR_IMAGE_TYPE] [nvarchar](30) NULL,
	[CAR_IMAGE_PATH] [nvarchar](200) NULL,
	[CAR_ID] [int] NULL,
	[DISPLAY_STATUS] [bit] NULL,
	[SORT_ORDER] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](30) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](30) NULL,
 CONSTRAINT [PK_DPU_MST_CAR_IMAGE] PRIMARY KEY CLUSTERED 
(
	[CAR_IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_CAR_MAKE]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_CAR_MAKE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_CAR_MAKE](
	[CAR_MAKE_ID] [int] NOT NULL,
	[CAR_MAKE] [nvarchar](30) NULL,
	[CAR_MAKE_LOGO_PATH] [nvarchar](255) NULL,
	[ACTIVE_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_MST_CAR_MAKE] PRIMARY KEY CLUSTERED 
(
	[CAR_MAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_CAR_MODEL]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_CAR_MODEL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_CAR_MODEL](
	[CAR_MODEL_ID] [int] NOT NULL,
	[CAR_MODEL_NAME] [nvarchar](30) NULL,
	[CAR_MODEL_IMG_PATH] [nvarchar](255) NULL,
	[CAR_MODEL_VIDEO_PATH] [nvarchar](255) NULL,
	[CAR_MAKE_ID] [int] NULL,
	[ACTIVE_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_MST_CAR_MODEL] PRIMARY KEY CLUSTERED 
(
	[CAR_MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_CAR_MODEL_COLOR]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_CAR_MODEL_COLOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_CAR_MODEL_COLOR](
	[CAR_MODEL_ID] [int] NOT NULL,
	[CAR_COLOR_ID] [int] NOT NULL,
	[ACTIVE_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_MST_CAR_MODEL_COLOR_1] PRIMARY KEY CLUSTERED 
(
	[CAR_MODEL_ID] ASC,
	[CAR_COLOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_INSURANCE_PLAN]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_INSURANCE_PLAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_INSURANCE_PLAN](
	[PLAN_ID] [int] NOT NULL,
	[PLAN_NAME] [nvarchar](20) NULL,
	[PLAN_DESCRIPTION] [nvarchar](30) NULL,
	[PLAN_PRICE] [decimal](10, 2) NULL,
	[SORT_ORDER] [int] NULL,
 CONSTRAINT [PK_DPU_MST_INSURANCE_PLAN] PRIMARY KEY CLUSTERED 
(
	[PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_LOCATION]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_LOCATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_LOCATION](
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_NAME] [nvarchar](200) NULL,
	[LOCATION_BRANCH_NAME] [nvarchar](100) NULL,
	[LOCATION_ADDRESS] [nvarchar](500) NULL,
	[LATITUDE] [nvarchar](30) NULL,
	[LONGITUDE] [nvarchar](30) NULL,
	[LOCATION_IMG_PATH] [nvarchar](200) NULL,
 CONSTRAINT [PK_DPU_MST_PARTNER_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_LOV]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_LOV]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_LOV](
	[LOV_TYPE] [nvarchar](70) NOT NULL,
	[LOV_ID] [nvarchar](50) NOT NULL,
	[LOV_ORDER] [int] NULL,
	[LOV_NAME_EN] [nvarchar](200) NULL,
	[LOV_NAME_TH] [nvarchar](200) NULL,
	[LOV_DESCRIPTION] [nvarchar](255) NULL,
	[ACTIVE_STATUS] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_MST_LOV_1] PRIMARY KEY CLUSTERED 
(
	[LOV_TYPE] ASC,
	[LOV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_MEMBER]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_MEMBER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_MEMBER](
	[MEMBER_ID] [int] NOT NULL,
	[USERNAME] [nvarchar](320) NULL,
	[TITLE_NAME] [nvarchar](20) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[CITIZEN_ID] [nvarchar](20) NULL,
	[MOBILE_NO] [nvarchar](15) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[EMAIL] [nvarchar](320) NULL,
	[CITIZEN_ID_IMG_PATH] [nvarchar](200) NULL,
	[LICENSE_NO_IMG_PATH] [nvarchar](200) NULL,
	[UPLOAD_CITIZEN_IMG_DATE] [datetime] NULL,
	[UPLOAD_LICENSE_IMG_DATE] [datetime] NULL,
	[USER_STATUS] [int] NULL,
	[KYC_STATUS] [bit] NULL,
	[REGISTER_DATE] [datetime] NULL,
	[KYC_DATE] [datetime] NULL,
	[LAST_LOGIN_DATE] [datetime] NULL,
 CONSTRAINT [PK_DPU_MST_MEMBER] PRIMARY KEY CLUSTERED 
(
	[MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_MST_OPERATION_HOURS]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_OPERATION_HOURS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_OPERATION_HOURS](
	[OPERATION_ID] [int] NOT NULL,
	[DAY] [nvarchar](20) NULL,
	[OPEN_TIME] [nvarchar](10) NULL,
	[CLOSE_TIME] [nvarchar](10) NULL,
	[ALLDAY_FLAG] [bit] NULL,
	[EVERYDAY_FLAG] [bit] NULL,
	[LOCATION_ID] [int] NULL,
 CONSTRAINT [PK_DPU_MST_OPERATION_HOURS] PRIMARY KEY CLUSTERED 
(
	[OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_TRN_BOOKING]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_TRN_BOOKING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_TRN_BOOKING](
	[BOOKING_ID] [int] NOT NULL,
	[BOOKING_REF_NO] [nvarchar](20) NULL,
	[USERNAME] [nvarchar](320) NULL,
	[PICKUP_DATE] [datetime] NULL,
	[RETURN_DATE] [datetime] NULL,
	[PICKUP_LOCATION_ID] [int] NULL,
	[PICKUP_LOCATION_NAME] [nvarchar](100) NULL,
	[RETURN_LOCATION_ID] [int] NULL,
	[RETURN_LOCATION_NAME] [nvarchar](100) NULL,
	[BOOKING_DURATION] [int] NULL,
	[RENTAL_PRICE] [decimal](18, 2) NULL,
	[INSURANCE_PLAN_NAME] [nvarchar](30) NULL,
	[INSURANCE_PRICE] [decimal](10, 2) NULL,
	[VAT] [decimal](10, 2) NULL,
	[VAT_PERCENT] [decimal](5, 2) NULL,
	[TOTAL_PRICE] [decimal](18, 2) NULL,
	[CAR_ID] [int] NULL,
	[CAR_LICENSE_NO] [nvarchar](10) NULL,
	[CAR_LICENSE_PROVINCE] [nvarchar](50) NULL,
	[CAR_CATEGORIES_NAME] [nvarchar](30) NULL,
	[CAR_YEAR] [nvarchar](4) NULL,
	[CAR_MAKE] [nvarchar](30) NULL,
	[CAR_MODEL] [nvarchar](30) NULL,
	[SIPP_CODE] [nvarchar](10) NULL,
	[CAR_COLOR] [nvarchar](10) NULL,
	[TITLE_NAME] [nvarchar](20) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[CITIZEN_ID] [nvarchar](20) NULL,
	[MOBILE_NO] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](320) NULL,
	[LICENSE_NO] [nvarchar](20) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[DRIVER_LICENSE_EXPIRE_DATE] [datetime] NULL,
	[CITIZEN_ID_IMG_PATH] [nvarchar](200) NULL,
	[LICENSE_NO_IMG_PATH] [nvarchar](200) NULL,
	[UPLOAD_CITIZEN_IMG_DATE] [datetime] NULL,
	[UPLOAD_LICENSE_IMG_DATE] [datetime] NULL,
	[BOOKING_STATUS] [int] NULL,
	[BOOKING_DATE] [datetime] NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[PROFILE_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](320) NULL,
 CONSTRAINT [PK_DPU_TRN_BOOKING] PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_TRN_CAR_DAMAGE]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_TRN_CAR_DAMAGE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_TRN_CAR_DAMAGE](
	[CAR_DAMAGE_ID] [int] NOT NULL,
	[CAR_ID] [int] NULL,
	[DAMAGE_AREA] [int] NULL,
	[DAMAGE_DESCRIPTION] [nvarchar](200) NULL,
	[DAMAGE_IMG_PATH] [nvarchar](255) NULL,
	[ACTIVE_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_TRN_CAR_DAMAGE] PRIMARY KEY CLUSTERED 
(
	[CAR_DAMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_TRN_REVIEW]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_TRN_REVIEW]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_TRN_REVIEW](
	[REVIEW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_ID] [int] NULL,
	[REVIEWER_NAME] [nvarchar](50) NULL,
	[REVIEWER_COMMENT] [nvarchar](500) NULL,
	[REVIEW_SCORE] [int] NULL,
	[DISPLAY_STATUS] [bit] NULL,
	[REVIEW_DATE] [datetime] NULL,
 CONSTRAINT [PK_DPU_TRN_REVIEW] PRIMARY KEY CLUSTERED 
(
	[REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DPU_TRN_TASK]    Script Date: 6/14/2018 5:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_TRN_TASK]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_TRN_TASK](
	[TASK_ID] [int] NOT NULL,
	[TASK_TYPE] [int] NULL,
	[BOOKING_REF_NO] [nvarchar](20) NULL,
	[CUSTOMER_NAME] [nvarchar](100) NULL,
	[MOBILE_NO] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[TASK_STATUS] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_TRN_TASK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Table [dbo].[DPU_MST_USER]    Script Date: 6/15/2018 9:54:42 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_USER]') AND type in (N'U'))
DROP TABLE [dbo].[DPU_MST_USER]
GO
/****** Object:  Table [dbo].[DPU_MST_USER]    Script Date: 6/15/2018 9:54:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DPU_MST_USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DPU_MST_USER](
	[USER_ID] [int] NOT NULL,
	[USER_NAME] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](150) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[ACTIVE_STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DPU_MST_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO

SET ANSI_PADDING OFF
GO
INSERT [dbo].[DPU_MST_CAR_COLOR] ([CAR_COLOR_ID], [CAR_COLOR_NAME], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (1, N'Red', 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_COLOR] ([CAR_COLOR_ID], [CAR_COLOR_NAME], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (2, N'Silver
', 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_COLOR] ([CAR_COLOR_ID], [CAR_COLOR_NAME], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (3, N'Brown
', 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MAKE] ([CAR_MAKE_ID], [CAR_MAKE], [CAR_MAKE_LOGO_PATH], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (1, N'Toyota', N'Images\Logo\toyota.png', 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MAKE] ([CAR_MAKE_ID], [CAR_MAKE], [CAR_MAKE_LOGO_PATH], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (2, N'Honda', N'Images\Logo\honda.png', 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MAKE] ([CAR_MAKE_ID], [CAR_MAKE], [CAR_MAKE_LOGO_PATH], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (3, N'Nissan', N'Images\Logo\nissan.png', 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MODEL] ([CAR_MODEL_ID], [CAR_MODEL_NAME], [CAR_MODEL_IMG_PATH], [CAR_MODEL_VIDEO_PATH], [CAR_MAKE_ID], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (1, N'Yaris', NULL, NULL, 1, 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MODEL] ([CAR_MODEL_ID], [CAR_MODEL_NAME], [CAR_MODEL_IMG_PATH], [CAR_MODEL_VIDEO_PATH], [CAR_MAKE_ID], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (2, N'Vios', NULL, NULL, 1, 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MODEL] ([CAR_MODEL_ID], [CAR_MODEL_NAME], [CAR_MODEL_IMG_PATH], [CAR_MODEL_VIDEO_PATH], [CAR_MAKE_ID], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (3, N'Altis', NULL, NULL, 1, 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MODEL_COLOR] ([CAR_MODEL_ID], [CAR_COLOR_ID], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (1, 1, 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MODEL_COLOR] ([CAR_MODEL_ID], [CAR_COLOR_ID], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (1, 2, 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_CAR_MODEL_COLOR] ([CAR_MODEL_ID], [CAR_COLOR_ID], [ACTIVE_STATUS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (1, 6, 1, CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System', CAST(N'2561-06-12 16:08:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_INSURANCE_PLAN] ([PLAN_ID], [PLAN_NAME], [PLAN_DESCRIPTION], [PLAN_PRICE], [SORT_ORDER]) VALUES (1, N'Standard', N'มาตรฐาน', CAST(0.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[DPU_MST_INSURANCE_PLAN] ([PLAN_ID], [PLAN_NAME], [PLAN_DESCRIPTION], [PLAN_PRICE], [SORT_ORDER]) VALUES (2, N'Extra', N'เอ็กซ์ตร้า', CAST(99.00 AS Decimal(10, 2)), 2)
GO
INSERT [dbo].[DPU_MST_INSURANCE_PLAN] ([PLAN_ID], [PLAN_NAME], [PLAN_DESCRIPTION], [PLAN_PRICE], [SORT_ORDER]) VALUES (3, N'Premium', N'พรีเมียม', CAST(199.00 AS Decimal(10, 2)), 3)
GO
INSERT [dbo].[DPU_MST_LOCATION] ([LOCATION_ID], [LOCATION_NAME], [LOCATION_BRANCH_NAME], [LOCATION_ADDRESS], [LATITUDE], [LONGITUDE], [LOCATION_IMG_PATH]) VALUES (1, N'เซ็นทรัลพระราม 9
', N'พระราม 9
', N'9/9 พระราม 9 แขวง ห้วยขวาง เขต ห้วยขวาง กรุงเทพมหานคร 10310 ประเทศไทย
', N'13.751363
', N'100.479162
', N'Images\Location\centralRama9.jpg
')
GO
INSERT [dbo].[DPU_MST_LOCATION] ([LOCATION_ID], [LOCATION_NAME], [LOCATION_BRANCH_NAME], [LOCATION_ADDRESS], [LATITUDE], [LONGITUDE], [LOCATION_IMG_PATH]) VALUES (2, N'เซ็นทรัลลาดพร้าว
', N'ลาดพร้าว
', N'1693 ถนน พหลโยธิน แขวง จตุจักร เขต จตุจักร กรุงเทพมหานคร 10900 ประเทศไทย
', N'13.81683007
', N'100.5559978
', N'Images\Location\centralLadPrao.jpg
')
GO
INSERT [dbo].[DPU_MST_LOCATION] ([LOCATION_ID], [LOCATION_NAME], [LOCATION_BRANCH_NAME], [LOCATION_ADDRESS], [LATITUDE], [LONGITUDE], [LOCATION_IMG_PATH]) VALUES (3, N'โลตัสอ่อนนุช
', N'อ่อนนุช
', N'1710 ถนน สุขุมวิท แขวง พระโขนง เขต คลองเตย กรุงเทพมหานคร 10110 ประเทศไทย
', N'13.705078
', N'100.600531
', N'Images\Location\LotusOnNuch.jpg
')
GO
INSERT [dbo].[DPU_MST_LOV] ([LOV_TYPE], [LOV_ID], [LOV_ORDER], [LOV_NAME_EN], [LOV_NAME_TH], [LOV_DESCRIPTION], [ACTIVE_STATUS], [UPDATED_DATE], [UPDATED_BY]) VALUES (N'CAR_IMAGE_TYPE', N'1', 1, N'Front', N'ภาพด้านหน้าตรง', NULL, NULL, CAST(N'2018-06-12 18:55:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_LOV] ([LOV_TYPE], [LOV_ID], [LOV_ORDER], [LOV_NAME_EN], [LOV_NAME_TH], [LOV_DESCRIPTION], [ACTIVE_STATUS], [UPDATED_DATE], [UPDATED_BY]) VALUES (N'CAR_IMAGE_TYPE', N'10', 2, N'CarConsole', N'ภาพหน้าคอนโซล', NULL, NULL, CAST(N'2018-06-12 18:55:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_LOV] ([LOV_TYPE], [LOV_ID], [LOV_ORDER], [LOV_NAME_EN], [LOV_NAME_TH], [LOV_DESCRIPTION], [ACTIVE_STATUS], [UPDATED_DATE], [UPDATED_BY]) VALUES (N'CAR_IMAGE_TYPE', N'11', 2, N'Gear', N'ภาพระบบเกียร์รถยนต์', NULL, NULL, CAST(N'2018-06-12 18:55:00.000' AS DateTime), N'System')
GO
INSERT [dbo].[DPU_MST_OPERATION_HOURS] ([OPERATION_ID], [DAY], [OPEN_TIME], [CLOSE_TIME], [ALLDAY_FLAG], [EVERYDAY_FLAG], [LOCATION_ID]) VALUES (1, NULL, N'10:00', N'20:00', 0, 1, 1)
GO
INSERT [dbo].[DPU_MST_OPERATION_HOURS] ([OPERATION_ID], [DAY], [OPEN_TIME], [CLOSE_TIME], [ALLDAY_FLAG], [EVERYDAY_FLAG], [LOCATION_ID]) VALUES (2, NULL, N'10:00', N'20:00', 0, 1, 2)
GO
INSERT [dbo].[DPU_MST_OPERATION_HOURS] ([OPERATION_ID], [DAY], [OPEN_TIME], [CLOSE_TIME], [ALLDAY_FLAG], [EVERYDAY_FLAG], [LOCATION_ID]) VALUES (3, N'1', N'10:00', N'19:00', 0, 0, 3)
GO
USE [master]
GO
